body {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: hsl(202.94deg 32.08% 20.78%);
    overflow: hidden;
    font-size: 12px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
  }
  
  .inspiration {
  
    display: flex;
  
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-family: 'Gill Sans', sans-serif;
    font-size: 12px;
    color: #969696;
    overflow: hidden;
    z-index: 999;
  }
  
  .inspiration img {
  
    width: 100px;
  }
  
  @media screen and (max-height: 500px) {
    .inspiration img {
      width: 150px;
    }
  }
  
  @media screen and (max-height: 700px) {
    .inspiration img {
      width: 60px;
    }
  }
  
  .center {
    position: relative;
  
  
  
    width: 100%;
    height: 100%;
    border-radius: 3px;
  
    overflow: hidden;
    background-image: linear-gradient(to top right, #f9a743, #f9db5f);
  }
  
  @media screen and (max-height: 500px) {
    .center {
      transition: transform 0.5s;
      height: 100%;
      overflow: hidden;
    }
  }
  
  @media screen and (max-height: 700px) {
    .center {
      transition: transform 0.5s;
      height: 100%;
      overflow: scroll;
    }
  }
  
  .center .ear {
    position: absolute;
    top: -150px;
    width: 120px;
    height: 200px;
    border-radius: 50%;
    background-color: #243946;
    margin-left: 45%;
    margin-right: 45%;
  }
  
  @media(max-width: 760px) {
    .center .ear {
      margin-left: 25%;
      margin-right: 25%;
      width: 120px;
  
    }
  }
  
  @media(max-width: 500px) {
    .center .ear {
      margin-left: 30%;
      margin-right: 30%;
  
    }
  }
  
  .center .ear.ear--left {
    left: -135px;
  }
  
  .center .ear.ear--right {
    right: -135px;
  }
  
  .center .face {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 150px;
    margin: 70px auto 20px;
    --rotate-head: 0deg;
    transform: rotate(var(--rotate-head));
    transition: transform 0.2s;
    transform-origin: center 20px;
  }
  
  .center .eye {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #243946;
  }
  
  .center .eye.eye--left {
    margin-right: 40px;
  }
  
  .center .eye.eye--right {
    margin-left: 40px;
  }
  
  .center .eye .glow {
    position: relative;
    top: 3px;
    right: -12px;
    width: 12px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    transform: rotate(38deg);
  }
  
  .center .nose {
    position: relative;
    top: 30px;
    transform: scale(1.1);
  }
  
  .center .nose .glow {
    position: absolute;
    top: 3px;
    left: 32%;
    width: 15px;
    height: 8px;
    border-radius: 50%;
    background-color: #476375;
  }
  
  .center .mouth {
    position: relative;
    margin-top: 45px;
  }
  
  .center svg.smile {
    position: absolute;
    left: -28px;
    top: -19px;
    transform: scaleX(1.1);
    stroke: #243946;
  }
  
  .center .mouth-hole {
    position: absolute;
    top: 0;
    left: -50%;
    width: 60px;
    height: 15px;
    border-radius: 50%/100% 100% 0% 0;
    transform: rotate(180deg);
    background-color: #243946;
    z-index: -1;
  }
  
  .center .tongue {
    position: relative;
    top: 5px;
    width: 30px;
    height: 20px;
    background-color: #ffd7dd;
    transform-origin: top;
    transform: rotateX(60deg);
  }
  
  .center .tongue.breath {
    -webkit-animation: breath 0.3s infinite linear;
    animation: breath 0.3s infinite linear;
  }
  
  .center .tongue-top {
    position: absolute;
    bottom: -15px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #ffd7dd;
  }
  
  .center .line {
    position: absolute;
    top: 0;
    width: 30px;
    height: 5px;
    background-color: #fcb7bf;
  }
  
  .center .median {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 25px;
    border-radius: 5px;
    background-color: #fcb7bf;
  }
  
  .center .hands {
    position: relative;
    margin-left: 40%;
    margin-right: 40%;
  }
  
  @media(max-width: 760px) {
    .center .hands {
      margin-left: 30%;
      margin-right: 20%;
  
    }
  }
  
  @media(max-width: 500px) {
    .center .hands {
      margin-left: 10%;
      margin-right: 10%;
  
    }
  }
  
  .center .hands .hand {
    position: absolute;
    top: -6px;
    display: flex;
    transition: transform 0.5s ease-in-out;
    z-index: 1;
  }
  
  .center .hands .hand--left {
    left: 50px;
  }
  
  .center .hands .hand--left.hide {
    transform: translate(2px, -155px) rotate(-160deg);
  }
  
  .center .hands .hand--left.peek {
    transform: translate(0px, -120px) rotate(-160deg);
  }
  
  .center .hands .hand--right {
    left: 170px;
  }
  
  .center .hands .hand--right.hide {
    transform: translate(-6px, -155px) rotate(160deg);
  }
  
  .center .hands .hand--right.peek {
    transform: translate(-4px, -120px) rotate(160deg);
  }
  
  .center .hands .finger {
    position: relative;
    z-index: 0;
  }
  
  .center .hands .finger .bone {
    width: 20px;
    height: 20px;
    border: 2px solid #243946;
    border-bottom: none;
    border-top: none;
    background-color: #fac555;
  }
  
  .center .hands .finger .nail {
    position: absolute;
    left: 0;
    top: 10px;
    width: 20px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #243946;
    background-color: #fac555;
    z-index: -1;
  }
  
  .center .hands .finger:nth-child(1),
  .center .hands .finger:nth-child(3) {
    left: 4px;
    z-index: 1;
  }
  
  .center .hands .finger:nth-child(1) .bone,
  .center .hands .finger:nth-child(3) .bone {
    height: 10px;
  }
  
  .center .hands .finger:nth-child(3) {
    left: -4px;
  }
  
  .center .hands .finger:nth-child(2) {
    top: -5px;
    z-index: 2;
  }
  
  .center .hands .finger:nth-child(1) .nail,
  .center .hands .finger:nth-child(3) .nail {
    top: 0px;
  }
  
  .center .login {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
  }

  
  
  .center .login label {
    width: 99%;
    font-family: 'Gill Sans', sans-serif;
    position: relative;
    padding: 0% 2%;
  color: #ffffff;
  font-weight: 700;
  background: #cccccc00;
  font-size: medium;
  margin: 5px 5px;
  
  }
  .center .login .lavel {
    width: 90%;
    font-family: 'Gill Sans', sans-serif;
    position: relative;
    padding: 0% 1%;
  color: #ffffff;
  font-weight: 700;
  background: #ffffff;
  font-size: medium;
  border-radius: 30px;
  margin: 0% 3%;
  
  }
  .center .login label .fa {
    font-family: 'Gill Sans', sans-serif;
    position: absolute;
    top: 40%;
    left: 35px;
    color: #bbb;
    font-weight: 900;
  }
  
  .center .login label .fa:before {
    position: relative;
    left: 1px;
  }
  
  .center .login input,
  .center .login .login-button {
    width: 80%;
    height: 35px;
    border: none;
    border-radius: 300px;
    text-align: center;
    background: none;
  }
  
  .center .login input {
  width: 100%;
    margin: 2px 0%;
    box-shadow: none;
    outline: none;
    background-color: #ffffffe5;
    
  }
  @media(max-width: 540px) {
    .center .login input {
      width: 90%;
      margin: 5px 2px;
      box-shadow: none;
      outline: none;
      background-color: #ffffffe5;
    }
  }
  
  @media(min-width: 740px) {
    .center .login input {
      width: 90%;
      margin: 5px 2%;
    }
  }
  
  .center .login input::-moz-placeholder {
    color: #ee0404;
  }
  
  .center .login input:-ms-input-placeholder {
    color: #ccc;
  }
  
  .center .login input::placeholder {
    color: #ccc;
  }
  
  .center .login input.password {
    padding: 0 0 0 50 !important;
  }
  
  .center .login .password-button {
    position: absolute;
    top: 9px;
    right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 27px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #eeae00;
    color: #fff;
    text-align: center;
  }
  
  .center .login .password-button:active {
    transform: scale(0.95);
  }
  
  .center .login .login-button {
    width: calc(100% - 50px);
    margin: 20px 20px 0;
    outline: none;
    background-color: #243946;
    color: #fff;
    transition: transform 0.1s;
    padding: 2% 2% 3% 1%;
  }
  
  .center .login .login-button:active {
    transform: scale(0.95);
  }
  
  .center .social-buttons {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  
  .center .social-buttons .social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: #243946;
    color: #fff;
    font-size: 18px;
  }
  
  .center .social-buttons .social:active {
    transform: scale(0.95);
  }
  
  .center .footer {
    font: 1.2em sans-serif;
    text-align: center;
    margin-top: 15px;
    width: calc(100% - 40px);
    margin: 20px 20px 0;
    outline: none;
    padding: 1.5% 0;
    background-color: #243946;
    color: #fff;
    transition: transform 0.1s;
    border-radius: 100px;
    font-weight: 700;
  
  }
  
  
  @-webkit-keyframes breath {
  
    0%,
    100% {
      transform: rotateX(0deg);
    }
  
    50% {
      transform: rotateX(60deg);
    }
  }
  
  @keyframes breath {
  
    0%,
    100% {
      transform: rotateX(0deg);
    }
  
    50% {
      transform: rotateX(60deg);
    }
  }