html,body {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-around;
margin: 0%;
  position: relative;

  align-items: center;


  
  /* Añade posición relativa para permitir el posicionamiento absoluto del contenedor de botones */
}

.score {
  font-family: 'VT323', monospace, sans-serif;
  font-size: calc(2px + 1.5vw);
  font-weight: bold;
  
  text-align: center;
}

@media (min-width: 320px) {
  .score {
   
    font-size: calc(20px + 1.5vw);
    font-family: 'VT323', monospace, sans-serif;

    
    border-radius: 8px;
  
  }

}

@media (min-width: 540px) {
  .score {
  
    font-family: 'VT323', monospace;
    font-size: calc(10px + 1.5vw);
   
    border-radius: 5px;
  }
}
@media (min-width: 900px) {
  .score {
    
    font-family: 'VT323', monospace;
    font-size: calc(10px + 1.5vw);
padding: 0.5% 2%;
    border-radius: 5px;
margin: 1%;
  

    
  }
}

/*================================================

Stage

================================================*/

.stage {

display: flex;
width: 100%;
height: 100%;

position: relative;

  z-index: 2;

}

/*================================================

Tiles

================================================*/

.tile {
  background: rgba(0, 0, 0, 0.418);
  position: absolute;
  transition-property:

    box-shadow,
    opacity,
    transform
  ;
  transform: translateZ(0);
  transition-duration: 3000ms;

}

.tile:before {
  bottom: 0;
  content: '';
  height: 0;
  left: 0;
  margin: auto;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  transition: opacity 300ms;
}

.tile.path:before {
  opacity: 1;
}

.tile.up:before {
  border-bottom: 4px inset rgb(255, 255, 255);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.tile.down:before {
  border-top: 4px inset rgb(238, 232, 232);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.tile.left:before { 
  border-right: 4px inset rgb(255, 248, 248);
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

.tile.right:before { 
  border-left: 4px inset rgb(255, 255, 255);
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

@media (max-width: 900px), (max-height: 900px) {
  .tile.up:before,
  .tile.down:before,
  .tile.left:before,
  .tile.right:before {
    border-width: 3px;
  }
}

@media (max-width: 500px), (max-height: 500px) {
  .tile.up:before,
  .tile.down:before,
  .tile.left:before,
  .tile.right:before {
    border-width: 2px;
  }
}

.tile.pressed {
  background: rgba(0, 0, 0, 0.925);
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.753);
  transition-duration: 0ms;
}
.button-container {
  width: 100%;

  display: flex;
  justify-content: center;
align-items: center;



  /* Asegura que el contenedor esté a lo largo de todo el ancho de la página */
  /* Añade un color de fondo para el contenedor de botones */

}

@media (min-width: 310px) {
  .button-container {
    display: flex;
    width: 100%;
    height: 5vh;
    
    margin-top: 2%;
    margin-bottom: 5%;
bottom: 0px;
  }
}

@media (min-width: 540px) {
  .button-container {
    width: 100%;
    height: 10vh;
  
    padding: 0px 0px 5px 0px;
    margin-bottom: 1%;
    margin-top: -1%;
    
  }
}

@media (min-width: 900px) {
  .button-container {
    height: 8vh;
    
    padding: 0px 0px 5px 0px;


  }
}

.button {
  
  overflow: hidden;
  background: transparent;
  color: #cfcfcf;
  cursor: pointer;
font-weight: bold;
  font-family: 'VT323', monospace, sans-serif;
  font-size: calc(2px + 1.5vw);
text-justify: distribute;
  text-transform: uppercase;
  transition: .5s;
  border: 1px solid #16bb07;
  border-radius: 10px;
margin: 1%;

  /* Ajusta el ancho del botón al 100% del ancho disponible */

  /* Asegura que el ancho incluya el padding y el borde */
}

.button:hover {
  background: #48ff0067;
  font-family: 'VT323', monospace, sans-serif;

font-weight: bold;
  box-shadow: 0 0 1px #89ec7c, 0 0 12px #7cec8b, 0 0 10px #aeec7c, 0 0 10px #85ec7c;
}

@media (min-width: 320px) {
  .button {
   
    font-size: calc(20px + 1.5vw);
    font-family: 'VT323', monospace, sans-serif;

    
    border-radius: 8px;
  
  }

}

@media (min-width: 540px) {
  .button {
  
    font-family: 'VT323', monospace;
    font-size: calc(10px + 1.5vw);
   
    border-radius: 5px;
  }
}
@media (min-width: 900px) {
  .button {
    
    font-family: 'VT323', monospace;
    font-size: calc(10px + 1.5vw);
padding: 0.5% 2%;
    border-radius: 5px;
margin: 1%;
  

    
  }
}

.top-section {
  width: 100%;


  color: rgba(255, 255, 255, 0.25);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;


  cursor: pointer;
  margin-top: 0%;
  margin-bottom: 0%;
}

.top-section p {
    font-size: calc(30px + 2vw);
    font-family: 'VT323', monospace, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  display: inline-block;
  border: 4px double rgba(255, 255, 255, 0.25);
  border-width: 4px 0;

  width: 100%;
  margin: 0;
  
  cursor: pointer;

}

.top-section p span {
  font-size: calc(50px + 2vw);
  font-family: 'VT323', monospace, sans-serif;
  letter-spacing: 0;
font-weight: bold;
  display: block;


  /* Clip Background Image */
  background: url(https://visualgraphicmd.com.co/imagenes/animated-text-fill_verde.png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  /* Animate Background Image */
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  animation: aitf 80s linear infinite;
  /* Agregar la versión estándar */
  /* Activate hardware acceleration for smoother animations */
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  /* Agregar la versión estándar */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* Agregar la versión estándar */

}

@media(min-width: 320px) {
  .top-section p span {
    font-size: calc(30px + 1vw);
    text-align: center;
    
  }
}
@media(min-width: 540px) {
  .top-section p span {
    font-size: calc(19px + 1vw);
    text-align: center;
  }
}

@media(min-width: 960px) {
  .top-section p span {
    font-size: calc(30px + 1vw);
    text-align: center;
  }
}
/* Animate Background Image */
@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

/* Agregar la versión estándar del keyframes */
@keyframes aitf {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}


