/*================================================

General

================================================*/

* {
  box-sizing: border-box;
}

html,
body {
  display: flex;

  height: 100%;
  width: 100%;
}

body {
  
  background: #000000;
  background: radial-gradient(#525252, #111);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;


}

/*================================================

Score

================================================*/

