@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');


:root{
    --main-color:rgb(0, 198, 10);
    --main-colors:rgb(3, 151, 10);
    --border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
    --border-radius-hover:4% 95% 6% 95%/95% 4% 92% 5%;
    --border:.2rem solid var(--main-color);
    --border-hover:.2rem dashed var(--main-colors);
    --smokey-black: hsl(0, 0%, 7%);
    --eerie-black: hsl(0, 0%, 9%);
    --radical-red: hsl(346, 100%, 58%);
    --white_a9: hsla(0, 0%, 100%, 0.09);
    --white_a15: hsla(0, 0%, 100%, 0.15);
    --white_a25: hsl(0, 0%, 100%);
    --white_a50: hsla(0, 0%, 100%, 0.5);
    --white_a70: hsla(0, 0%, 100%, 0.7);
    --white_a75: hsla(0, 0%, 100%, 0.75);
    --white_a80: hsla(0, 0%, 100%, 0.8);
    --jet-1: rgb(0, 125, 6);
    --jet-2: rgb(0, 198, 10);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);

   
}
.about{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
  
    font-family: Poppins, sans-serif;
}
.about .rows{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1rem;
    margin-bottom: 0px;

}

.about .rows .image{
    flex:1 1 30rem;
    margin: 4%;
}

.about .rows .image img{
    width: 100%;
    animation:aboutImage 4s linear infinite;
    box-shadow: 1px 1px 6px 6px rgba(0, 198, 10, 0.745);
}

@keyframes aboutImage {
    0%, 100%{
        transform: scale(.9);
        border-radius: var(--border-radius-hover);
    }
    50%{
        transform: scale(.8);
        border-radius: var(--border-radius);
    }
}

.about .rows .content{
    flex:1 1 45rem;
}

.about .rows .content .title{
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    color: white;
    color: white;
    color: var(--jet-2);
    transition: 0.5s ease-in;

}

.about .rows .content p{
text-align: justify;
    font-size: 1.5rem;
    line-height: 1.5;
    padding:2rem ;
    color: white;

}

.about .rows .content .icons-container{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    padding-top: 3rem;


}



.about .rows .content .icons-container .icons{
    flex:1 1 15rem;
    padding:1.3rem;
    text-align: center;
    border:var(--border);
    border-radius: var(--border-radius);
    transition: 0.5s;
}

.about .rows .content .icons-container .icons:hover{
    border-radius: var(--border-radius-hover);
    border:var(--border-hover);
    
}

.about .rows .content .icons-container .icons img{
    height: 7rem;
}

.about .rows .content .icons-container .icons h3{
    font-size: 1.3rem;
    margin: 0.4em;
    color:var(--main-color);
}



@media (max-width: 680px) {
    .about{
        margin-top: 2rem;
        padding: 0px;
        overflow: hidden;
      
        font-family: Poppins, sans-serif;
    }
    .about .rows{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap:0rem;
        margin-bottom: 0px;
    
    }
    
    .about .rows .image{
        flex:1 1 30rem;
        margin: 2%;
    }
    .about .rows .content .title{
        font-size: 1.5rem;

    }
    .about .rows .content .icons-container {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        padding: 2rem 0rem;
        margin: 2%;
    }
    .about .rows .content .icons-container .icons {
        flex: 0 1 10rem;
        padding: 1rem;
        text-align: center;
        border: var(--border);
        border-radius: var(--border-radius);
        margin-left: auto;
        margin-right: auto;
    }
    .about .rows .content p{
        text-align: justify;
            font-size: 1.1rem;
            line-height: 1.5;
            padding:0rem 2rem ;
            color: white;

        }
   }