
:root {
  /**
   * colors
   */
  --smokey-black: hsl(0, 0%, 7%);
  --eerie-black: hsl(0, 0%, 9%);
  --radical-red: hsl(346, 100%, 58%);
  --white_a9: hsla(0, 0%, 100%, 0.09);
  --white_a15: hsla(0, 0%, 100%, 0.15);
  --white_a25: hsl(0, 0%, 100%);
  --white_a50: hsla(0, 0%, 100%, 0.5);
  --white_a70: hsla(0, 0%, 100%, 0.7);
  --white_a75: hsla(0, 0%, 100%, 0.75);
  --white_a80: hsla(0, 0%, 100%, 0.8);
  --jet-1: rgb(0, 125, 6);
  --jet-2: rgb(0, 198, 10);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --blackV:#1a1a1a;
  /**
   * gradient color
   */
  --gradient-1: linear-gradient(180deg, transparent, var(--smokey-black));
  --gradient-2: linear-gradient(180deg,var(--smokey-black) 25%,hsla(0, 0%, 0%, 0.6) 80%);
  /**
   * typography
   */
  --ff-consola: "Consolas", monospace;
  --ff-recoleta: "Recoleta", serif;
  --ff-gordita: "Gordita", sans-serif;
  --fs-1:2rem;
  --fs-2: 3rem;
  --fs-3: 3.8rem;
  --fs-4: 2.8rem;
  --fs-5: 1.6rem;
  --fs-6: 2.2rem;
  --fs-7: 2rem;
  --fs-8: 1.8rem;
  --fs-9: 1.5rem;
  --fs-10: 1.4rem;
  --fs-11: 1.2rem;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 550;
  /**
   * spacing
   */
  --section-padding: 10px;
  /**
   * shadow
   */
  --shadow: 0 12px 30px -10px hsla(0, 0%, 14%, 0.1);
  /**
   * border radius
   */
  --radius-circle: 50%;
  --radius-5: 5px;
  --radius-25: 25px;
  /**
   * transition
   */
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --transition-3: 1s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}
/* style for works */
.g-works {

    padding: 10px 50px;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0);

  }
  
  .g-works .g-works-text {
    color: white;
    margin: 5px;
    text-align: center;
    
  }
  
  .g-works .g-works-text h3 {
    font-size: 4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .g-works .g-works-text p {
    font-size: 1.5rem;
    font-weight: inherit;
    font-family: "Quicksand", sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .g-works .works-list {
    padding: 20px;
    margin: 30px 0;
  }
  
  .g-works .works-button {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    justify-content: center;
  }
  
  .g-works .works-button > button {
    color: white;

    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    padding: 1em 1.5em;
    border-radius: 40px;
    text-transform: uppercase;
    transition: 0.5s ease-in;
  }
  
  .g-works .works-button > button:hover {
    box-shadow: 0 0 10px rgba(168, 168, 168, 0.5);
  }
  
  .g-works .works-button > button.active {
    transition: all 0.5s ease-in;
    box-shadow: 0 0 10px rgba(168, 168, 168, 0.5);
  }
  
  .g-works .works-list .works-card {
    flex: 1;
    display: flex;
    margin: 15px 0;
    border-radius: 5px;
    transition: 0.5s ease-in;
    border: 1px solid rgba(79, 255, 4, 0.5);
    background-color: rgba(59, 255, 29, 0);
  }
  
  .g-works .works-list .works-card:nth-child(odd) {
    flex-direction: row-reverse;
  }
  
  .g-works .works-list .works-card:hover {
    cursor: pointer;
    box-shadow: 0 0 20px 5px rgba(8, 255, 12, 0.3);
  }
  
  .g-works .works-list .works-card .card-image {
    width: 40%;

    display: flex;
    overflow: hidden;
 

  }
  
  .g-works .works-card .card-image img {

    object-fit: cover;
    transition: all 0.5s ease-in;
  }
  
  .g-works .works-card .card-image img:hover {
    transform: scale(1.2) rotate(15deg);
  }
  
  .g-works .works-list .works-card .card-text {
    width: 60%;
    padding: 3em;
    display: grid;
    place-content: center start;
    font-family: "Quicksand", sans-serif;
    
  }
  
  .g-works .works-card .card-text h4 {
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: var(--jet-2);
  }
  
  .g-works .works-card .card-text p {
    color: #ffffff;
    margin-top: 10px;
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: justify;
    word-wrap: break-word;
    letter-spacing: 1.5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  

  .g-works .works-card .card-text h3 {
    color: #ffffff;
    margin-top: 10px;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: justify;
    word-wrap: break-word;
    letter-spacing: 1.5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .g-works .works-card .card-text a {
    margin: 20px;
    border: none;
    display: flex;
    outline: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
    font-weight: bold;
    padding: 1rem 3rem;
    border-radius: 15px;
    text-decoration: none;
    transform: rotate(-3deg);
    transition: all 0.5s ease-in;
    background-color: var(--jet-2);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    justify-content: center;
  }
  .g-works .works-card .card-text a:hover {
    background-color: var(--jet-1);
    transform: rotate(0deg);
    box-shadow: 0 0 30px rgba(40, 208, 3, 0.7);
  }
  
  .g-works .works-card .card-text a > span {
    animation: narrow 1s both infinite;
  }
  
  @keyframes narrow {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(20px);
    }
  }

  .show-more-container {
    text-align: center;
    margin-top: 20px;
    display: none; /* Oculto por defecto */
}

#show-more-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
  /* responsive tablet */
@media screen and (min-width: 768px) {
    .g-nav-list ul li a {
      padding: 0 1.5em;
  
    }
  
    .g-about {
      padding: 0 25px;
    }
  
    .teams {
      padding: 25px;
    }
  
    .g-services {
      padding: 0 25px;
    }
  
    .g-works {
      padding: 10px 25px;
    }
  
    .g-works .works-list {
      padding: 1em;
    }
  
    .g-works .works-list .works-card {
      grid-template-columns: repeat(500px);
    }

    .g-works .works-card .card-text p {
      color: #ffffff;
      margin-top: 10px;
      font-size: 1.2rem;
      margin-bottom: 20px;
      text-align: justify;
      word-wrap: break-word;
      letter-spacing: 1.5px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  }
  

  .modal {
    width: 100vw;
    display: none;
    position: fixed;
    z-index: 500000;
    min-height: 100vh;
    place-content: center;
    animation: modal 0.5s ease-in;
 
  }
  
  .modal .modal-talk {
    width: 50vw;
    height: 86vh;
    padding: 1em;
    display: flex;
    overflow-y: hidden;
    flex-direction: column;
    animation: modal 0.5s ease-in;
    justify-content: space-between;
    border-radius: 20px 100px 20px 100px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgb(59, 59, 59, 0.4);
  }
  
  @keyframes modal {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .modal .modal-talk .modal-header {
    display: flex;
    padding: 1rem;
    cursor: pointer;
    overflow-y: hidden;
  align-items: center; 
    color: var(--text-color);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  
  
  }
  .modal .modal-talk .modal-header span {
  
    font-size: 2rem;
    font-weight: bold;
    margin-left: 2vw;
 
  }
  .modal .modal-talk .modal-header h3 {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .modal .modal-talk .modal-body {
    display: flex;
    height: 400px;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    color: #000;
    justify-content: space-evenly;
  }
  .modal .modal-talk .modal-header .card-image img {
    margin:10px 0px;
    width: 100%;
    padding: 0px 0;
    border-radius: 20px 100px 20px 100px;
  
    overflow: hidden;
  }
  .artikel{
    text-align: justify;
    word-wrap: break-word;
    letter-spacing: 1.5px;
  }
  
  .modal .modal-talk .modal-footer {
width: 95%;
 display: flex;
    align-items: center;
padding: 1%;
justify-content: center;
  }
  
  .modal .modal-talk .modal-footer button {
    border: none;
    outline: none;
    color: rgb(10, 65, 2);
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 1rem 3rem;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s ease-in;
display: flex;
justify-content: center;
  }
  
  .modal .modal-talk .modal-footer button {
width: 45%;
    color: white;
margin: 2% 5%;
    background-color: black;
    justify-content: center;
  }
  .modal .modal-talk .modal-footer button:hover {
    justify-content: center;
    width: 90%;
    box-shadow: black;
    color: rgb(47, 255, 32);
  }
  /* responsive phone */
  @media screen and (max-width: 750px) {
    .cursor {
      display: none;
    }
  
    .g-nav {
      height: 80px;
    }
  
    .g-nav-list,
    .g-nav-link {
      display: none;
    }
  
    .g-nav-list {
      background: hsla(11, 100%, 52.2%, 1);
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 80px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      box-shadow: 0 0 10px rgba(199, 199, 199, 0.8);
    }
  
    .g-nav-list ul li a {
      display: flex;
      flex-direction: column;
      transition: all 0.3s ease-in-out;
    }
  
    .g-nav-list ul li a > svg {
      width: 20px;
      height: 20px;
      display: flex;
      margin: auto;
    }
  
    .g-nav-list ul li a svg:hover {
      color: var(--coral);
    }
  
    .g-nav-list ul li a {
      padding: 0 1rem;
      font-size: 12px;
      display: flex;
      justify-content: space-around;
    }
  
    .g-nav-list ul li a.active::after {
      display: none;
    }
  
    .g-header {
      padding: 0 10px;
      height: 100vh;
      background-position: center center;
    }
  
    .g-header .g-header-text h3 {
      font-size: 3rem;
      text-align: center;
    }
  
    .g-header .g-header-text p {
      font-size: 1rem;
    }
  
    .g-header .g-header-text button {
      padding: 1rem 2rem;
      font-size: 1rem;
    }
  
    .g-about {
      padding: 0 10px;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      text-align: center;
    }
  
    .g-about .g-about-image img {
      display: flex;
      width: 400px;
      height: 350px;
      object-fit: cover;
      object-position: center;
    }
  
    .g-about .g-about-text h3 {
      font-size: 1.8rem;
      letter-spacing: -0.5px;
    }
  
    .g-about .g-about-text p {
      font-size: 1rem;
      text-align: justify;
      word-wrap: break-word;
      letter-spacing: 1.5px;
    }
  
    .g-about-follow {
      flex-direction: column;
    }
  
    .g-about-follow .sosmed a {
      margin: 10px;
    }
  
    .g-works {
      padding: 10px 10px;
    }
    .g-works .g-works-text  {
  margin: 2%;
    }
    .g-works .g-works-text h3 {
      font-size: 1.5rem;
      text-align: center;
      word-wrap: break-word;
      letter-spacing: 1px;
    }
  
    .g-works .g-works-text p {
        margin-top: 10px;
      font-size: 1.2rem;
    }
  
    .g-works .works-list {
      padding: 0px;
      box-sizing: border-box;
      margin: 10px 0;
    }
  
    .g-works .works-list .works-card {
      margin-top: 15px;
      width: 100%;
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;
    justify-content: center; 
      flex-direction: row;
      align-items: flex-start;
    }
  
    .g-works .works-list .works-card:nth-child(odd) {
      margin-top: 15px;
      width: 100%;
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      /* justify-content: center; */
      flex-direction: row;
    
    }
    .g-works .works-list .works-card .card-image {
      width: 45%;
      height: 50vh;
      display: flex;
      overflow: hidden;
  
    }
  
  
    .g-works .works-list .works-card .card-text {
      
gap: 0% 5%;
      width: 45%;
      place-content: center;
      padding: 0rem;
      text-align: center;
      align-items: center;
      margin-right: 0px;

      justify-items:stretch;
      margin: 5% 2%;

    }
    .g-works .works-card .card-text h4 {
      word-wrap: break-word;
      letter-spacing: 1.2px;
      line-height: 1.1;
      font-size: 1.2rem;
      margin-top: 5px;
      text-align: left;
      
    }
  
    .g-works .works-card .card-text p {
 
      font-size: 0.8rem;
      letter-spacing:0.1px;
      margin: 5% 0%  10%;
    }
    .g-works .works-card .card-text h3 {
      color: #ffffff;
      margin-top: 5px;
      font-size: 0.8rem;
      margin-bottom: 10px;
      text-align: justify;
      word-wrap: break-word;
      letter-spacing: 1.5px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    
    .g-works .works-card .card-text a {
      margin: 3%;
      border: none;
      display: flex;
      outline: none;
      color: white;
      font-size: 15px;
      padding: 5%;

    }
  
    .g-works .works-card .card-image {
      display: grid;
    }
  
    .g-works .works-card .card-image img {
      width: 100%;
margin: 5%;
height: 100%;
      
    }
  
    .g-services {
      padding: 0em 1.2em;
  
   
    }
  
    .g-services .services-text h3 {
      font-size: 1.8rem;
      letter-spacing: -0.5px;
      text-align: center;
    }
  
    .g-services .services-text p {
      font-size: 1rem;
      text-align: justify;
      word-wrap: break-word;
      letter-spacing: 1.5px;
    }
  
    .g-services .services-list .services-card {
      margin: 30px 0;
    }
  
    .g-services .services-list .services-card p {
      margin: 50px 0;
      text-align: justify;
      word-wrap: break-word;
      letter-spacing: -0.5px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
  
    .g-services .services-list .services-card a {
      margin-bottom: 30px;
      margin-top: 10px;
    }
  
    .quote {
      padding: 0 2em;
    }
  
    .quote h3 {
      font-size: 2rem;
      text-align: center;
    }
  
    .teams {
      padding: 10px 0;
      margin: 10px 0;
    }
  
    .teams .teams-header {
      text-align: center;
    }
  
    .teams .teams-header h3 {
      font-size: 1.5rem;
   padding: 0rem 1rem;
        margin: 1%;
        
    }
  
    .teams .teams-header p {
      font-size: 1rem;
      
    }
  
    .teams .teams-list {
      flex-direction: column;
      padding: 0.2rem;
    }
  
    .teams .teams-list .teams-card {
      padding: 0rem 1rem;
      width: 100%;
    }
  
    .teams .teams-list .teams-card .teams-card-body h4 {
      font-size: 1rem;
    }
  
    .teams .teams-list .teams-card .teams-card-body h5 {
      font-size: 1.2rem;
      text-align: left;
    }
  
    .g-footer {
      padding: 0 10px;
      display: grid;
      grid-template-areas: "text text" "image image" "copy copy";
      width: 100vw;
      border-radius: 0;
      margin-bottom: 50px;
    }
  
    .g-footer .footer-image {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .g-footer .footer-text {
      transform: translateY(50px);
      align-items: center;
    }
  
    .g-footer .footer-text h3 {
      font-size: 1.8rem;
      text-align: center;
    }
  
    .g-footer .footer-copy {
      transform: translateY(-40px);
    }
  
    .g-footer .footer-copy p {
      font-size: 1.2rem;
      text-align: center;
    }
  
    .modal .modal-talk {
      width: 90vw;
      padding: 0.5rem 0.5rem;
      height: 90vh;
    }
  
    .modal .modal-talk .modal-header h3 {
      font-size: 1.5rem;
    }
  
    .modal .modal-talk .modal-body .form-group input,
    textarea {
      padding: 0.5em 1em;
    }
  
    .modal .modal-footer button {
      padding: 0.5em 1em;
    }
  
    .theme {
      margin: 100px 20px;
    }
  
    .g-services .services-list {
      gap: 10px;
      display: grid;
      padding: 0px;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .project-button {
    width: 45%;
    border: none;
    outline: none;
    color: rgb(10, 65, 2);
    cursor: pointer;
  
    font-weight: bold;
    padding: 1rem 1rem;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s ease-in;
    background-color: rgb(42, 254, 0);
    margin-top: 3%;
    margin-bottom: 0%;
}
  }
  .project-button{
    width: 45%;
    border: none;
    outline: none;
    color: rgb(10, 65, 2);
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 1rem 3rem;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s ease-in;
    background-color: rgb(42, 254, 0);
    margin-top: 3%;
    margin-bottom:0%;
  }
  
  .project-button:hover {
    width: 90%;
    box-shadow: black;
    color: rgb(255, 255, 255);
  }
  @media screen and (max-width: 750px) {
    .project-button {
      width: 50%;
      border: none;
      outline: none;
      color: rgb(10, 65, 2);
      cursor: pointer;
    font-size: 15px;
      font-weight: bold;
      padding: 1rem 0rem;
      border-radius: 10px;
      text-decoration: none;
      transition: all 0.3s ease-in;
      background-color: rgb(42, 254, 0);
      margin-top: 3%;
      margin-bottom: 0%;
  }
    }