@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
  }
  :root {
    /**
     * colors
     */
    --smokey-black: hsl(0, 0%, 7%);
    --eerie-black: hsl(0, 0%, 9%);
    --radical-red: hsl(346, 100%, 58%);
    --white_a9: hsla(0, 0%, 100%, 0.09);
    --white_a15: hsla(0, 0%, 100%, 0.15);
    --white_a25: hsl(0, 0%, 100%);
    --white_a50: hsla(0, 0%, 100%, 0.5);
    --white_a70: hsla(0, 0%, 100%, 0.7);
    --white_a75: hsla(0, 0%, 100%, 0.75);
    --white_a80: hsla(0, 0%, 100%, 0.8);
    --jet-1: rgb(0, 125, 6);
    --jet-2: rgb(0, 198, 10);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    /**
     * gradient color
     */
    --gradient-1: linear-gradient(180deg, transparent, var(--smokey-black));
    --gradient-2: linear-gradient(180deg,var(--smokey-black) 25%,hsla(0, 0%, 0%, 0.6) 80%);
    /**
     * typography
     */
    --ff-consola: "Consolas", monospace;
    --ff-recoleta: "Recoleta", serif;
    --ff-gordita: "Gordita", sans-serif;
    --fs-1:2rem;
    --fs-2: 3rem;
    --fs-3: 3.8rem;
    --fs-4: 2.8rem;
    --fs-5: 1.6rem;
    --fs-6: 2.2rem;
    --fs-7: 2rem;
    --fs-8: 1.8rem;
    --fs-9: 1.5rem;
    --fs-10: 1.4rem;
    --fs-11: 1.2rem;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 550;
    /**
     * spacing
     */
    --section-padding: 10px;
    /**
     * shadow
     */
    --shadow: 0 12px 30px -10px hsla(0, 0%, 14%, 0.1);
    /**
     * border radius
     */
    --radius-circle: 50%;
    --radius-5: 5px;
    --radius-25: 25px;
    /**
     * transition
     */
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --transition-3: 1s ease;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
  }
.seccion2{
  margin: 1%;
}
.seccion2 .caja {
    width: 98%;
    margin: 2.5% 2.5%;
    border-radius: 1rem;
    overflow: hidden;

    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

  }
  .seccion2 .caja__contenido {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .seccion2 .caja__contenido2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .seccion2 .caja__contenido2 {
    font-size: 3rem;
    text-align: justify;
    font-weight: 700;
    color: white;
    color: white;
    color: var(--jet-2);
    transition: 0.5s ease-in;
  }
  .seccion2 .caja__contenido2 label:hover {
    color: var(--white);
    transform: scale(1.2);
  }
  .seccion2 .caja__contenido label {
    font-size: 3rem;
    text-align: justify;
    font-weight: 700;
    color: white;
    color: white;
    color: var(--jet-2);
    transition: 0.5s ease-in;
    margin-bottom: 0.5%;
    line-height: 1.2;
  }
  .seccion2 .caja__contenido label:hover {
    color: var(--white);
    transform: scale(1.2);
  }
  .seccion2 .caja__contenido p {
    font-size: 3rem;
    text-align: justify;
    color: white;
    color: white;

  }
  .seccion2 .caja .caja__iconos {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .seccion2 .caja .caja__iconos .contenedor-iconos {
    display: flex;
    flex-wrap: wrap;
    max-width: 80rem;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
  .seccion2 .caja .caja__iconos .contenedor-iconos i {
    font-size: 5rem;
    max-width: 6rem;
    max-height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    color: white;
    transition: 0.5s ease-in;
  }
  .seccion2 .caja .caja__iconos .contenedor-iconos i:hover {
    color: var(--jet-2);
    transform: scale(1.2);
  }
  .seccion2 .caja .caja__iconos .contenedor-iconos .fa-node {
    font-size: 6.5rem;
  }
  
  .seccion2 .caja .caja__iconos .contenedor-iconos .icono-typescript {
    background-image: url(../languages/typescript.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 4.5rem;
    height: 4.5rem;
    transition: 0.5s ease-in;
  }
  .seccion2 .caja .caja__iconos .contenedor-iconos .icono-typescript:hover {
    background-image: url(../languages/typescript-2.svg);
    transform: scale(1.2);
  }
  .seccion2 .caja .caja__iconos .contenedor-iconos .icono-express {
    background-image: url(../languages/express.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 6rem;
    height: 6rem;
    transition: 0.5s ease-in;
  }
  .seccion2 .caja .caja__iconos .contenedor-iconos .icono-express:hover {
    background-image: url(../languages/express-2.svg);
    transform: scale(1.2);
  }
  .seccion2 .caja .caja__iconos .contenedor-iconos .icono-npm {
    background-image: url(../languages/npm.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 8.5rem;
    height: 4rem;
    transition: 0.5s ease-in;
  }
  .seccion2 .caja .caja__iconos .contenedor-iconos .icono-npm:hover {
    background-image: url(../languages/npm-2.svg);
    transform: scale(1.2);
  }
  .seccion2 .caja .caja__iconos .contenedor-iconos .icono-mdb {
    background-image: url(../languages/mdb.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 6.5rem;
    height: 6.5rem;
    transition: 0.5s ease-in;
  }
  .seccion2 .caja .caja__iconos .contenedor-iconos .icono-mdb:hover {
    background-image: url(../languages/mdb-2.svg);
    transform: scale(1.2);
  }
  
  /* DE AQUI MAS GRANDE SOLUCIONADO */
  @media (min-width: 300px) {
    .seccion2 .caja {
      width: 95%;
      margin:2.5%;
      border-radius: 1rem;
      overflow: hidden;

      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
  
    }


    .seccion2 .caja .caja__iconos {
      min-width: 22rem;
      max-width: 25rem;
      align-self: center;
    }
    .seccion2 .caja .caja__iconos .contenedor-iconos {
      justify-content: flex-start;
      justify-content: center; /* PROVISONAL */
      gap: 2rem;
      margin: 2%;
    }
    .seccion2 .caja .caja__iconos .contenedor-iconos i {
      font-size: 6rem;
    }
    .seccion2 .caja .caja__iconos .contenedor-iconos .fa-node {
      font-size: 5rem;
    }
    .seccion2 .caja .caja__iconos .contenedor-iconos .icono-typescript {
      width: 5rem;
      height: 5rem;
    }
    .seccion2 .caja .caja__iconos .contenedor-iconos .icono-express {
      width: 5rem;
      height: 5rem;
    }
    .seccion2 .caja .caja__iconos .contenedor-iconos .icono-mdb {
      width: 5.5rem;
      height: 5.5rem;
    }
    .seccion2 .caja .caja__iconos .contenedor-iconos .icono-npm {
      width: 5rem;
      height: 4rem;
    }
  }
  @media (min-width: 530px) {
    .seccion2 .caja {
      width: 95%;
      margin: 10% 2.5%;
      border-radius: 1rem;
      overflow: hidden;

      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
  
    }
    
    .seccion2 .caja .caja__contenido label {
      font-size: 2rem;
    }
    .seccion2 .caja .caja__contenido p {
      font-size: 1.7rem;
      margin-bottom: 3rem;
    }

  }
  @media (min-width: 640px) {
    .seccion2 {
      padding: 2rem;
    }
    .seccion2 .caja {
      gap: 6rem;
    }
    .seccion2 .caja .caja__contenido label {
      font-size: 1.5rem;
    }

    
  }
  @media (min-width: 740px) {
    .seccion2 .caja {
      width: 95%;
      margin: 2.5% 2.5%;
      border-radius: 1rem;
      overflow: hidden;

      padding: 1rem;
      display: flex;
      flex-direction: column;

  
    }
    .seccion2 .caja {
      padding: 4rem 4rem 2rem;
    }
    .seccion2 .caja .caja__iconos {
      max-width: 54rem;
      align-self: center;
    }
    .seccion2 .caja .caja__contenido label {
      font-size: 2.5rem;
    }
  }
  /* DE AQUI MAS GANDRE SOLUCIONADO 856+ */
  @media (min-width: 900px) {
    .seccion2 .caja {
      padding: 3rem 3rem 3rem;
      justify-content: space-between;
  
      /* ////////////////////////////////////////////// */
    }
    
    .seccion2 .caja .caja__contenido {
      align-items: flex-start;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      padding-bottom: 1rem;
    }
    .seccion2 .caja .caja__contenido label {
      font-size: 2.5rem;
    }
    .seccion2 .caja .caja__contenido p {

      margin-bottom: 2rem;
    }
    .seccion2 .caja .caja__iconos .contenedor-iconos {
      justify-content: flex-start;

      gap: 4rem;
      margin: 1%;
    }
    .seccion2 .caja .caja__iconos .contenedor-iconos i {
      font-size: 6rem;
    }
    .seccion2 .caja .caja__iconos .contenedor-iconos .fa-node {
      font-size: 6rem;
    }
    .seccion2 .caja .caja__iconos .contenedor-iconos .icono-typescript {
      width: 5rem;
      height: 5rem;
    }
    .seccion2 .caja .caja__iconos .contenedor-iconos .icono-express {
      width: 5rem;
      height: 5rem;
    }
    .seccion2 .caja .caja__iconos .contenedor-iconos .icono-mdb {
      width: 5.5rem;
      height: 5.5rem;
    }
    .seccion2 .caja .caja__iconos .contenedor-iconos .icono-npm {
      width: 6rem;
      height: 6rem;
    }
    
  }
  @media (min-width: 936px) {
    .seccion2 .caja .caja__iconos {
      min-width: 50rem;
      max-width:51rem;
      align-self: center;
    }
    .seccion2 .caja .caja__iconos .contenedor-iconos {
      justify-content: center; /* PROVISONAL */
    }
  }
@media (min-width: 1200px) {
  .seccion2 {
    padding: 1rem 1rem;
  }
  .seccion2 .caja {
    flex-direction: row;
 
  }
  .seccion2 .caja .caja__contenido {
    align-items: flex-start;
    flex-grow: 1;
  }
  .seccion2 .caja .caja__contenido label {
    text-align: start;
  }
  .seccion2 .caja .caja__contenido p {
    text-align: justify;
    margin-bottom: 0;
    font-size: 1.5rem;
  }
  .seccion2 .caja .caja__iconos {
    min-width: 40rem;
    max-width:41rem;
    padding: 1%;
    gap: 5rem;
  }
}
@media (max-width: 650px) {
 .titulo-skills2  {
    font-size: 2rem;
    text-align: justify;
    font-weight: 500;
    color: white;
    color: white;
    color: var(--jet-2);
    transition: 0.5s ease-in;
  }
  .seccion2 .caja__contenido label {
    font-size: 2rem;
    text-align: center;

    color: white;
    color: white;
    color: var(--jet-2);
    transition: 0.5s ease-in;
  }

  .seccion2 .caja__contenido label:hover {
    color: var(--white);
    transform: scale(1.2);
  }

  .seccion2 .caja__contenido p {
    font-size: 1.1rem;
    text-align: justify;
    color: white;
    color: white;

  }
  .seccion2 .caja__contenido2 {
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    color: white;
    color: white;
    color: var(--jet-2);
    transition: 0.5s ease-in;
    padding: 2%;
  }
  .seccion2 .caja__contenido2 label {
    margin-top: 3%;
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    color: white;
    color: white;
    color: var(--jet-2);
    transition: 0.5s ease-in;
  }
  .seccion2 .caja__contenido2 label:hover {
    color: var(--white);
    transform: scale(1.2);
  }
}

@media (max-width: 850px) {

}